.nav {
    background-color: #777;
    padding: 0px;
    position: fixed;
    width: 100%;
  }
  
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-list-item {
    display: inline-block;
    margin-right: 0px;
    padding: 20px; /* pad list items, all other padding is zero to get edge to edge */
    text-align: center;
    font-size: 20px;
    font-weight:bold;
  }
  .nav-list :hover{
    background-color: #555;
  }
  
  .nav-list-anchor {
    color: white;
    text-decoration: none;
  }

